.logo img {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
    font-size: 10px;
}

.right ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.right ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 30px;
}

section span img {
    margin: 0 23px;
}
.first p{
    font-size: 14px;
    width: 58vw;
    text-align: center;
}

.btn {
    background-color: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius:6px ;
    font-weight: 700;
    margin:12px 0 ;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.green{
    background-color: #5cb85c;

}
.flex{
    display: flex;
}
.small{
    font-size: 12px;
}
.second{
max-width: 80vw;
margin: auto;


}
.item{
    padding: 23px;
    background-color: rgba(231, 241, 239, 0.738);
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.item-lang{ 
    font-weight: 500;
    text-align: center;
    padding-bottom: 36px;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.download:nth-child(1){
   font-size: 23px; 
}
.download img{
    padding: 0px 12px;
}

.download{
    display: flex;
   gap: 10px;
   font-family: sans-serif;
    align-items: center;
}
@media screen and (max-width: 1145px) {
    .grid{ 
        grid-template-columns: 1fr; 
    }
}

